<main class="top-spacing">
  <form class="admin-form" action="/admin/dashboard" method="post">
    <table>
      <tr>
        <th style="width: 300px">Username</th>
        <th style="width: 300px">Email</th>
        <th>User</th>
        <th>Admin</th>
      </tr>
      <% users.forEach(element => { %>
      <tr>
        <td><%= element.username %></td>
        <td><%= element.email %></td>
        <td class="table-checkbox">
          <% if (element.isuser) { %><input
            type="checkbox"
            name="user_<%= element.id %>"
            checked
          />
          <% } else { %>
          <input type="checkbox" name="user_<%= element.id %>" />
          <% } %>
        </td>
        <td class="table-checkbox">
          <% if (element.isadmin) { %><input
            type="checkbox"
            name="admin_<%= element.id %>"
            checked
          />
          <% } else { %>
          <input type="checkbox" name="admin_<%= element.id %>" />
          <% } %>
        </td>
      </tr>
      <%}) %>
    </table>
    <button class="fake-link" type="submit">Save</button>
  </form>
</main>
