<style>
  #itemss {
    text-decoration: underline;
  }
</style>
<main>
  <img src="<%= item.image_url %>" alt="item pic" />
  <h1><%= item.title %></h1>
  <p><%= item.item_description %></p>
  <h3>Price $<%= item.price %></h3>
  <h3>In Stock: <%= item.stock %></h3>
  <h3>
    Category:
    <a href="/categories/<%= category.category_id %>"
      ><%= category.category_name %></a
    >
  </h3>

  <form action="/items/<%= item.item_id %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button class="fake-link">Delete</button>
  </form>
  <a href="/items/<%= item.item_id %>/edit">Update</a>

  <section class="comments">
    <% if (comments.length === 0) { %>
    <h2 style="text-align: center">There are no comments yet</h2>
    <% } else { %>

    <h2>Comments (<%= comments.length %>)</h2>

    <% comments.forEach(element => { %>
    <article class="comment">
      <span><%= element.username %></span>
      <span>on <%= element.post_date %></span>
      <p><%= element.input %></p>
      <% if (isUser()) { %>
      <form action="/comments/<%= element.comment_id %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="itemId" value="<%= item.item_id %>" />
        <button class="delete absolute-positioning">❌</button>
      </form>
      <% } %>
    </article>

    <% }) %> <% } %> <% if (isLoggedIn()) { %>
    <form class="comment-form" action="/comments" method="post">
      <h3>Leave a comment</h3>
      <textarea name="input" id="input" cols="40" rows="5"></textarea>
      <input type="hidden" name="fk_user_id" value="<%= currentUser.id %>" />
      <input type="hidden" name="fk_item_key" value="<%= item.item_id %>" />
      <input type="hidden" name="itemId" value="<%= item.item_id %>" />

      <button class="fake-link">Submit</button>
    </form>
    <% } %>
  </section>
</main>
