<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/logo.png" alt="logo" /></a>
      <% if (isLoggedIn()) { %>
      <nav>
        <div class="dropdown">
          <a id="categoriess" class="nav-link" href="/categories">Categories</a>
          <div class="dropdown-content">
            <% currentCategories.forEach(element => { %>

            <a href="/categories/<%= element.category_id %>"
              ><%= element.category_name %></a
            >

            <% }) %>
          </div>
        </div>

        <a id="itemss" class="nav-link" href="/items">Items</a>
        <% if (isAdmin()) { %>
        <a id="adminss" class="nav-link" href="/admin/dashboard"
          >Admin Dashboard</a
        >
        <% } %>

        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button class="fake-link nav-link">Logout</button>
        </form>
      </nav>
      <% } else { %>
      <nav>
        <div class="dropdown">
          <a id="categoriess" class="nav-link" href="/categories">Categories</a>
          <div class="dropdown-content">
            <% currentCategories.forEach(element => { %>

            <a href="/categories/<%= element.category_id %>"
              ><%= element.category_name %></a
            >

            <% }) %>
          </div>
        </div>

        <a id="itemss" class="nav-link" href="/items">Items</a>
        <a id="loginn" class="nav-link" href="/login">Login</a>
        <a id="signupp" class="nav-link" href="/signup">Signup</a>
      </nav>
      <% } %>
    </header>
    <%- body %>
  </body>
</html>
